@import "https://js.arcgis.com/4.32/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.32/map-components/main.css";
@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
