html, body, #viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#infoDiv {
  padding: 10px;
  width: 275px;
}
#sliderValue{
  font-weight: bolder;
}
#legendDiv{
  width: 260px;
}
#description{
  padding: 10px 0 10px 0;
}