html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
arcgis-map {
  height: 100%;
  width: 100%;
}
#customLegend {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 50;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
#instructionsDiv {
  position: absolute;
  top: 12px;
  right: 62px;
  padding: 0 12px 0 12px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  color: black;
  font-size: large;
}
